$colorMap: (
  light: #ddd,
  border: #ced4da,
  dark: #121212,
  gray: #bdbdbd,
  main: blue,
  background: #35363a,
  search: #202124,
);

@function color($key) {
  @return map-get($colorMap, $key);
}
